# local node dependencies
node_modules
package-lock.json

# files from Visual Studio Code
.vscode

.DS_Store

Bundestag-Mediathek-Export-Sample-WP1-1949-1951/*

Bundestag-Early-Years-Importer\data
Bundestag-Early-Years-Starter\app\data\media

