# data files
data/*

# database files
database.sqlite

# node modules
node_modules/

# Exclude lock file to prevent error when students with different architectures install dependencies
package-lock.json